tilsig_username=<tilsig_username>
tilsig_password=<tilsig_password>
frost_client_id=<frost_client_id>

netatmo_client_id=<netatmo_client_id>
netatmo_client_secret=<netatmo_client_secret>
netatmo_first_refresh_token=<netatmo_first_refresh_token>

local_store_secret_key=<local_store_secret_key>